@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

body {
  height: 100vh;
}

nav ul li a {
  font-size: 14px !important;
}

footer ul a {
  background-color: rgb(16 32 42);
  color: #fff;
  padding: 0.6rem 1.4rem;
  border-radius: 0.6rem;
  transform: all 300ms ease;
}

footer ul a:hover {
  background-color: #fff;
  color: #0c0c22;
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: rgb(73, 149, 199);
}

.mt-negative {
  margin-top: calc(-1 * 2rem);
}

.ql-blank::before {
  color: rgb(202, 204, 207) !important;
}

.notifications-container {
  max-height: 90vh;
}

.react-datepicker {
  background-color: #777;
}

@media (min-width: 1024px) {
  .table-container-scrollbar {
    overflow-x: hidden;
  }
}
