@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

body {
  height: 100vh;
}

footer ul a {
  background-color: rgb(16 32 42);
  color: #fff;
  padding: 0.6rem 1.4rem;
  border-radius: 0.6rem;
  transform: all 300ms ease;
}

footer ul a:hover {
  background-color: #fff;
  color: #0c0c22;
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: rgb(73, 149, 199);
}

.success-modal {
  position: fixed;
  top: 50%;
  right: 1.5%;
  transform: translate(0%, -50%);
  background-color: green;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.success-modal.show {
  opacity: 1;
  pointer-events: auto;
}

.success-modal {
  position: fixed;
  top: 50%;
  right: 1.5%;
  transform: translate(0%, -50%);
  background-color: rgb(41, 131, 6);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.error-modal {
  position: fixed;
  top: 50%;
  right: 1.5%;
  transform: translate(0%, -50%);
  background-color: rgba(255, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.error-modals {
  position: fixed;
  top: 50%;
  right: 1.5%;
  transform: translate(0%, -50%);
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.error-in-list {
  margin: 15px;
  display: flex;
  padding: 14px;
  background-color: rgba(255, 0, 0, 0.8);
  color: #fff;
  border-radius: 10px;
}

.error-modal.show,
.error-modals.show {
  opacity: 1;
  pointer-events: auto;
}

.mt-negative {
  margin-top: calc(-1 * 2rem);
}

.ql-blank::before {
  color: rgb(202, 204, 207) !important;
}

nav ul li a {
  font-size: 14px !important;
}

.notifications-container {
  max-height: 90vh;
}

@media (min-width: 1024px) {
  .table-container-scrollbar {
    overflow-x: hidden;
  }
}
